.about {
   height: 100vh;
   display: flex;
}

.about-left {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   /* background-color: red; */
   height: 100%;
}
.about-right {
   flex: 1;
}

.about-card {
   width: 60%;
   height: 70vh;
   border-radius: 30px;
   position: relative;
   overflow: hidden;
}

.about-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.about-card.background {
   background-color: #333;
   position: absolute;
   top: 50px;
   left: 50px;
}

.award-img {
   width: 120px;
   height: 120px;
}

.about-title {
   font-weight: 400;
   margin-top: 50px;
}

.about-sub {
   margin: 20px 0px;
}

.about-description {
   font-weight: 300;
}

.award {
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.award-title {
   font-weight: bold;
   margin-bottom: 10px;
   color: #555;
}
