.contact {
   height: 100vh;
   position: relative;
}

.contactWrapper {
   display: flex;
   padding: 50px;
}
.contactLeft {
   flex: 1;
   /* display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center; */
}

.contactRight {
   flex: 1;
   display: flex;
   align-items: center;
   /* justify-content: center; */
   flex-direction: column;
}

.contactBackground {
   width: 20px;
   height: 100%;
   background-color: lightskyblue;
   position: absolute;
}

.contactTitle {
   font-size: 40px;
   width: 80%;
}

.contactIcon {
   width: 30px;
   height: 30px;
   margin-right: 20px;
}

.contactInfoItems {
   margin: 50px 0px;
   display: flex;
   /* justify-content: center; */
   align-items: center;
   font-weight: 300;
}

.contactDescription {
   font-weight: 200;
}

form {
   margin-top: 20px;
}

input {
   border: none;
   border-bottom: 1px solid black;
   width: 50%;
   height: 50px;
   margin: 10px 0px;
   font-size: 14px;
   padding-left: 10px;
}

textarea {
   width: 100%;
   font-size: 14px;
   margin: 10px 0px;
}

button {
   font-weight: 500;
   border: none;
   background-color: lightskyblue;
   color: white;
   padding: 15px;
   cursor: pointer;
}

.contactThankYou {
   padding-left: 10px;
   font-size: 10px;
   font-weight: 500;
}

@media screen and (max-width: 480px) {
   .contactWrapper {
      flex-direction: column;
      padding: 0px 50px;
   }

   .contactTitle {
      font-size: 20px;
      width: 100%;
      font-weight: 600;
   }

   .contactInfoItems {
      margin: 30px 0px;
   }

   input {
      width: 90%;
   }

   form {
      margin-top: 0px;
   }

   .submit {
      width: 100%;
   }
   .contactBackground {
      height: 120vh;
   }
}
