.intro {
   display: flex;
   height: 100vh;
}

.intro-left {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
}

.intro-right {
   flex: 1;
   position: relative;
}

.intro-left-wrapper {
   padding: 50px;
   height: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.intro-greetings {
   font-size: 30px;
   font-weight: 300;
}
.name {
   font-size: 60px;
}

.intro-title {
   height: 50px;
   font-size: 30px;
   overflow: hidden;
}
.intro-title-item {
   height: 50px;
   font-size: 30px;
   font-weight: bold;
   color: salmon;
   display: flex;
   align-items: center;
}

.intro-title-wrapper {
   height: 100%;
   animation: move 10s ease-in-out infinite;
}

@keyframes move {
   25% {
      transform: translateY(-50px);
   }
   50% {
      transform: translateY(-100px);
   }
   75% {
      transform: translateY(-150px);
   }
   100% {
      transform: translateY(-200px);
   }
}

.right-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
}

.intro-right-background {
   clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0 100%);
   background-color: lightskyblue;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0px;
   right: 0px;
}

@media screen and (max-width: 480px) {
   .intro {
      flex-direction: column;
   }

   .intro-description {
      display: none;
   }

   .intro-left-wrapper {
      align-items: center;
      text-align: center;
      justify-content: center;
      height: 100%;
      padding: 10px;
   }
}
